* {
    box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: white;
}
/* 头部标题 */
.header {
  padding: 5px;
  height: 80px;
  text-align: center;
  background: white;
}
.header img {
  float: left;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  overflow: hidden;
}
/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: white;
  padding-left: 15%;
  padding-right: 25%;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: white;
  color: dodgerblue;
  font-style: inherit;
}
.topnav a:active {
  background-color: white;
  color: dodgerblue;
  font-weight:bold;
  font-style: inherit;
}
/* 三列 */
.leftcolumn {   
  float: left;
  width: 15%;
  background-color: white;
  padding-left: 20px;
}
.centercolumn {   
  float: left;
  width: 60%;
  padding-left: 20px;
}
.rightcolumn {
  float: left;
  width: 25%;
  background-color: white;
  padding-left: 20px;
}
/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* 底部 */
.footer {
  padding: 2px;
  text-align: center;
  background: white;
  margin-top: 20px;
  font-size: 1px;
}
/* 文章卡片效果 */
.card {
  background-color: #f9f9f9;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16%;
  padding-right: 16%;
}
.cont {
  background-color: #f9f9f9;
  margin-top: 20px;
  padding: 10px;
}
.sidebar {
  background-color: #f9f9f9;
  margin-top: 20px;
  padding: 20px;
}
.card a,
.cont a,
.sidebar a {
  color: seagreen;
  text-decoration: none;
}
.card a:hover,
.cont a:hover,
.sidebar a:hover {
  color: dodgerblue;
  font-style: inherit;
}
.card a:active,
.cont a:active,
.sidebar a:active {
  color: dodgerblue;
  font-weight: bold;
  font-style: inherit;
}
.cont ul li{
  height: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar audio {
  background-color: #f9f9f9;
  height: 20px;
  outline: none;
}
.sidebar img {
  float: left;
  width: 120px;
  height: 100px;
  padding-right: 17px;
  overflow: hidden;
  border-right: 3px solid seagreen;
}
.sidebar .wx {
  float: left;
  padding-left: 20px;
}
/* 描述部分 */
.desc {
  background-color: #f9f9f9;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
textarea.code {
  background-color: #f9f9f9;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: none;
  border: none;
}
/* 响应式布局 - 屏幕尺寸小于 800px 时，三列布局改为上下布局 */
@media screen and (max-width: 800px) {
  .leftcolumn, .centercolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .card,
  .cont,
  .sidebar {
    background-color: white;
    margin-top: 20px;
    padding: 5px; 
  }
}
/* 响应式布局 -屏幕尺寸小于 600px 时，导航等布局改为上下布局 */
@media screen and (max-width: 600px) {
  .topnav {
    overflow: hidden;
    background-color: white;
    padding: 0;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}